@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

$primaryCyan: hsl(180, 66%, 49%);
$primaryDarkViolet: hsl(257, 27%, 26%);

$secondaryRed: hsl(0, 87%, 67%);

$neutralGray: hsl(0, 0%, 75%);
$neutralGrayishViolet: hsl(257, 7%, 63%);
$neutralVeryDarkBlue: hsl(255, 11%, 22%);
$neutralVeryDarkViolet: hsl(260, 8%, 14%);

@mixin border($px, $col) {
  border: $px solid $col;
}

@mixin flex($dir, $jc) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
}

* {
  font-family: "Poppins";
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-weight: 500, 700;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  margin: auto 170px;
}

header {
  padding-bottom: 100px;
  nav {
    @include flex(row, flex-end);
    height: 150px;
    align-items: center;

    .right-links {
      margin-right: auto;
    }

    a {
      text-decoration: none;
      color: $neutralGrayishViolet;
      font-weight: 700;
      font-size: 15px;
      margin: 0 20px;
      &:hover {
        cursor: pointer;
        color: $neutralVeryDarkViolet;
      }
    }

    button {
      border: none;
      background-color: $primaryCyan;

      color: white;
      font-weight: 700;
      border-radius: 50px;
      padding: 10px 20px;

      &:hover {
        cursor: pointer;
        background-color: hsl(180, 58%, 69%);
      }
    }
  }
}

header {
  .hero {
    @include flex(row, space-between);
    align-items: center;

    .hero-info {
      h1 {
        font-size: 80px;
        width: 600px;
        color: $neutralVeryDarkBlue;
        line-height: 80px;
        margin: 0;
      }

      p {
        color: $neutralGrayishViolet;
        font-size: 20px;
        width: 500px;
      }

      button {
        color: white;
        font-size: 18px;
        font-weight: 700;
        padding: 15px 40px;
        border: none;
        background-color: $primaryCyan;
        border-radius: 50px;
        &:hover {
          cursor: pointer;
          background-color: hsl(180, 58%, 69%);
        }
      }
    }
  }
}

.form {
  position: absolute;
  top: 600px;
  right: 150px;
  border-radius: 15px;
  width: 80%;
  margin: 50px auto;
  background-image: url(../images/bg-shorten-desktop.svg);
  padding: 60px;
  background-color: $primaryDarkViolet;

  input {
    width: 80%;
    height: 64px;
    border-radius: 10px;
    border: none;
    margin-right: 30px;

    text-indent: 30px;
    font-size: 18px;
    color: $neutralVeryDarkBlue;
  }

  button {
    width: 14%;
    height: 64px;
    border-radius: 5px;
    border: none;
    background-color: $primaryCyan;
    color: white;
    font-weight: 700;
    font-size: 18px;
    &:hover {
      cursor: pointer;
      background-color: hsl(180, 58%, 69%);
    }
  }
}

.stats {
  padding: 200px 0;
  background-color: hsl(230, 25%, 95%);

  h1 {
    width: max-content;
    margin: auto auto;
  }

  h3 {
    color: $neutralGrayishViolet;
    font-weight: 500;
    font-size: 18px;
    margin: auto auto;
    width: 500px;
    text-align: center;
  }

  hr {
    position: relative;
    z-index: 1;
  }
}

.stats-cards {
  z-index: -1;
  @include flex(row, space-evenly);
  margin-top: 50px;
  background-color: transparent;

  .stat-card {
    position: relative;
    background-color: #fff;
    margin-right: 20px;
    padding-top: 40px;
    border-radius: 15px;
    padding: 30px 20px;

    &:nth-of-type(2) {
      top: 50px;
    }
    &:nth-of-type(3) {
      top: 100px;
    }

    img {
      position: absolute;
      top: -40px;
      background-color: $primaryDarkViolet;
      padding: 20px;
      border-radius: 50%;
    }

    p {
      color: $neutralGrayishViolet;
      font-size: 16px;
    }
  }
}

.boost {
  height: 250px;
  background-image: url(../images/bg-boost-desktop.svg);
  background-color: $primaryDarkViolet;
  text-align: center;
  @include flex(column, center);
  align-items: center;

  h1 {
    margin: 0;
    color: white;
  }

  button {
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 40px;
    border: none;
    background-color: #2acfcf;
    border-radius: 50px;
    margin-top: 20px;
    &:hover {
      cursor: pointer;
      background-color: hsl(180, 58%, 69%);
    }
  }
}

footer {
  position: relative;
  @include flex(row, space-evenly);
  align-items: center;
  color: white;
  background-color: #232027;
  padding: 50px 0;

  ul {
    li {
      list-style-type: none;
      color: #c3c1c6;
      font-weight: 300;
      font-size: 16px;

      &:hover {
        cursor: pointer;
        color: $primaryCyan;
      }

      &:nth-of-type(1) {
        color: white;
        font-weight: 700;
      }
    }
  }

  .social {
    img {
      margin-right: 12px;
    }
  }

  .ref {
    position: absolute;
    margin: 20px auto;
    bottom: 0;
    a {
      text-decoration: none;
      color: $primaryCyan;
    }
  }
}
